body
{
	font-family: "Comic Sans MS"; 
	color: #ffffff;
	background-color: #808080;
	text-align: center;
}

a
{
	text-decoration: none;
}

#titlebar
{
	width: 80vw;
	height: 20vmin;
	margin: auto;
	text-align: center;
	overflow: hidden;
	display: flex;
    justify-content: space-between;
	align-items: strech;
	background: #FFFFFF;
	min-height: 2.5cm;
}

#titlebar > div
{
	background-image: url("grafika/szkola.png");
	background-size: 100% 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-grow: 1;
	font-size: 2.5vw;
	max-width: 50vw;
}

.content
{
	width: 80vw;
	margin: auto;
	margin-top: 2vh;
	text-align: left;
	box-sizing: border-box;
}

.title
{
	display: block;
	margin: auto;
	font-size: 2em;
	margin-top: 5vh;
}

#titlebar span
{
	display: inline-block;
	color: #6080EF;
	font-weight: bold;
}

#titlebar img
{
	height: 20vmin;
	width: auto;
	min-height: 2.5cm;
}

#navigation
{
	color: black;
}

#navigation > ul
{
	list-style-type: none;
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
}

#navigation > ul > li
{
	display: inline-block;
	background: white;
	border-bottom: 5px dashed #666666;
	padding-left: 16%;
}


#navigation #lastlistitem
{
	border-bottom: none;
}

#navigation a
{
	color: #7f7f7f;
}

#navigation a:hover
{
	color: #000000;
}

#love
{
	box-sizing: border-box;
	width: 80vw;
	border: 1vw solid;
	padding: 5vmin;
	padding-top: 1vmin;
	border-image: url("grafika/heart_border.png") 33% round;
	font-size: 1.2em;
}

#love a
{
	color: pink;
}

#love a:visited
{
	color: mediumvioletred;
}

#love a:hover
{
	color: fuchsia;
}

#love a:active
{
	color: black;
}

#modULO
{
	text-align: center;
}

#memes
{
	text-align: center;
}

#memes img
{
	width: 50vw;
	margin-bottom: 2vh;
}

#Wolontariat
{
	
}

#navbar
{
display: flex;
background-color: #666666;
justify-content: center;
align-items: center;
padding: 1vh 0;
flex-wrap: wrap;
align-content: space-between;
row-gap: 1vh;
}

#navbar > a
{
display: inline-block;
background-color: #E06000;
text-align: center;
padding: 0.5vmin 1vmin;
margin: 0 1vmin;
border-radius: 1vmin;
text-decoration: none;
color: white;
}

#navbar > a:hover
{
background-color: #D05000;
cursor: pointer;
}

#navbar > #active
{
	background-color: #4075CC;
}

#navbar > #active:hover
{
	background-color: #3065BC;
}

#plan
{
	text-align: center;
	overflow-x: auto;
}

#plan table
{
	margin: auto;
	width: 80%;
	height: 50vh;
}

#plan table, th, td
{
	text-align: center;
	border: 1px solid black;
	border-collapse: collapse;
}

#plan table th, td
{
	padding: 0.5vmin;
}

#plan table th
{
	background-color: #FF7700;
}

#plan table tr td
{
	background-color: #FFAD66;
}

#plan table tr td:nth-child(1)
{
	background-color: #FF7700;
}

#rekrutacja a
{
	color: blue;
}

#rekrutacja a:visited
{
	color: pink;
}

#rekrutacja a:hover
{
	color: red;
}

#rekrutacja a:active
{
	color: black;
}
