body
{
	font-family: "Comic Sans MS"; 
	color: #ffffff;
	background-color: #808080;
	text-align: center;
}

a
{
	text-decoration: none;
}

#titlebar
{
	width: 80vw;
	height: 20vmin;
	margin: auto;
	text-align: center;
	overflow: hidden;
	background: #666666;
	display: flex;
    justify-content: space-between;
	align-items: center;
}

.content
{
	width: 80vw;
	margin: auto;
	margin-top: 5vh;
	text-align: left;
}

.title
{
	display: block;
	margin: auto;
	font-size: 2em;
	margin-top: 5vh;
}

#titlebar span
{
	font-size: 4vmin;
	display: inline-block;
}

#titlebar img
{
	height: 20vmin;
	width: auto;
}

#navigation
{
	color: black;
}

#navigation > ul
{
	list-style-type: none;
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
}

#navigation > ul > li
{
	display: inline-block;
	background: white;
}

#navigation ul > li
{
	border-bottom: 5px dashed #666666;
}

#navigation #lastlistitem
{
	border-bottom: none;
}

#navigation a
{
	color: #7f7f7f;
}

#navigation a:hover
{
	color: #000000;
}

#love
{
	box-sizing: border-box;
	width: 80vw;
	border: 1vw solid;
	padding: 5vmin;
	padding-top: 1vmin;
	border-image: url("grafika/heart_border.png") 33% round;
	font-size: 1.2em;
}

#love a
{
	color: pink;
}

#love a:visited
{
	color: mediumvioletred;
}

#love a:hover
{
	color: fuchsia;
}

#modULO
{
	text-align: center;
}

#memes
{
	text-align: center;
}

#memes img
{
	width: 50vw;
	margin-bottom: 2vh;
}

#Wolontariat
{
	
}